.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.contact-image {
  flex: 1;
}

.contact-image img {
  /* max-width: 100%; */
  height: 400px;
  display: block;
}

.contact-form {
  flex: 1;
  padding: 20px;
  background-color: #ffc0a1;
  border-radius: 10px;
}

.contact-form h2 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 120px;
}

.contact-form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form input[type="submit"]:hover {
  background-color: #45a049;
}
